@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To My Page</p>
    <form class="form-group" asp-action="Create">
        <div class="align-content-center">
            <input type="button" value="Create New" class="btn-primary" />
        </div>
    </form>
</div>
 